#home form button, #topic > div button, #score-card div button, #profile div button, #signup form button {
  background: #4d94ff;
  color: white;
  border: none;
  padding: .3rem .7rem;
  margin: .5rem auto;
  display: block;
  transition: background 150ms; }
  #home form button:hover, #topic > div button:hover, #score-card div button:hover, #profile div button:hover, #signup form button:hover {
    background: #1D88E3; }
  #home form button:active, #topic > div button:active, #score-card div button:active, #profile div button:active, #signup form button:active {
    background: #6EB0E8; }

#home form a {
  width: 100%;
  text-align: center;
  display: block;
  transition: color 150ms; }
  #home form a:link {
    color: #5CA6E5; }
  #home form a:visited {
    color: #5CA6E5; }
  #home form a:hover {
    color: #FFBA21; }
  #home form a:active {
    color: #FFEF33; }

#topics a, #question-card > div ul li {
  color: #5CA6E5;
  transform: scale(1);
  text-decoration: none;
  transition: all 500ms;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */ }
  #topics a:hover, #question-card > div ul li:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    color: #FFBA21;
    transform: scale(1.01); }

html, body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0; }

main {
  padding-top: 50px; }

#nav {
  background: #111;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  margin: 0; }
  #nav .nav-link {
    text-decoration: none;
    width: 100px;
    padding: 12px;
    background: #111;
    textDecoration: none;
    color: white;
    text-align: center;
    width: auto;
    transition: background 150ms; }
    #nav .nav-link:link {
      background: #5CA6E5; }
    #nav .nav-link:visited {
      background: #111; }
    #nav .nav-link:hover {
      background: #444; }
    #nav .nav-link:active {
      background: #555; }
  #nav #site-name {
    margin-right: auto; }

#clock {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 30rem;
  display: block;
  margin: 0 auto;
  z-index: -100000; }

#home img {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 1rem auto; }
#home p {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 300; }
#home hr {
  width: 80%;
  max-width: 20rem;
  margin: -1rem auto 0; }
#home form {
  margin: 1.1rem auto;
  display: block;
  padding: 1rem;
  max-width: 350px;
  box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.2);
  background: #fafafa;
  font-size: 1.25rem; }
  #home form div {
    display: flex;
    flex-wrap: wrap;
    justfiy-content: center; }
    #home form div label {
      margin: .5rem auto 0;
      float: left;
      display: inline-block; }
    #home form div input {
      font-size: 1.25rem;
      margin: .5rem;
      float: right; }
  #home form button {
    font-size: 1.25rem;
    margin: 1rem auto; }
  #home form a {
    font-size: 1rem; }

#topics h2, #topic > div h2, #signup h1 {
  font-size: 4rem;
  text-align: center; }

#topics a, #topic > div ul, #question-card > div ul li, #profile, #signup form {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: block;
  margin: 1.5rem auto;
  padding: 1rem;
  width: 20rem;
  font-size: 2rem;
  background: white;
  text-align: center; }

#topic > div h2 {
  margin-bottom: 0; }
#topic > div p {
  text-align: center;
  font-size: 1.5rem; }
#topic > div ul {
  color: #5CA6E5; }
  #topic > div ul li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    #topic > div ul li .dots {
      overflow: hidden; }
#topic > div button {
  font-size: 1.5rem; }

#question-card > div h2 {
  text-align: center;
  margin-top: 0; }
#question-card > div ul {
  padding: 0; }
  #question-card > div ul li {
    list-style-type: none;
    font-size: 1.5rem;
    width: 18rem; }

#timer-div {
  overflow: hidden; }
  #timer-div #timer {
    font-size: 8rem;
    text-align: center;
    margin: 0;
    animation: shake 0.8s linear 20s infinite, shake 0.6s linear 30s infinite, shake 0.4s linear 40s infinite, shake 0.2s linear 50s infinite; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
#slider {
  height: 95vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  background: linear-gradient(#85FF28, #89DA59, #FF420E);
  z-index: -10; }
  #slider #indicator {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 60px solid black;
    position: absolute;
    -webkit-transition: top 2s;
    transition: top 1s; }

#sick-yeah {
  position: fixed;
  bottom: 0;
  font-size: 3rem;
  transform: rotate(20deg);
  left: 7rem;
  right: 0;
  top: 4rem;
  color: #5CA6E5;
  display: block;
  margin: 0 auto;
  text-align: center;
  z-index: -1; }

#score-card {
  overflow: hidden; }
  #score-card p {
    text-align: center;
    font-size: 2rem;
    margin: .5rem; }
  #score-card h1 {
    text-align: center;
    font-size: 8rem;
    margin: 0;
    animation: shake 1s ease infinite; }
  #score-card div {
    display: flex;
    width: 20rem;
    margin: 2rem auto; }
    #score-card div button {
      font-size: 1.5rem; }

#profile {
  max-width: 350px;
  margin: 1rem auto; }
  #profile h1 {
    font-size: 3rem; }
  #profile h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0; }
  #profile ul {
    color: #5CA6E5;
    width: 65%;
    margin: 1rem auto 1.5rem;
    padding: 0;
    font-size: 1.5rem; }
    #profile ul li {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin: 0 auto; }
      #profile ul li .dots {
        overflow: hidden; }

#signup form button {
  font-size: 1.5rem; }
#signup form input, #signup form label {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem auto; }

/*# sourceMappingURL=App.css.map */
