html, body{
  height: 100%;
  font-family: Arial;
  padding: 0;
  margin: 0;
}

main {
  padding-top: 50px;
}

#slider {
  height: 200px;
  width: 50px;
  position: relative;
  border: 2px solid black;
}

#indicator {
  right: 0;
  height: 5px;
  width: 50px;
  background: black;
  position: absolute;
}


#nav {
  background: #111;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  margin: 0;
  .nav-link {
    text-decoration: none;
    width: 100px;
    padding: 12px;
    background: #111;
    textDecoration: none;
    color: white;
    text-align: center;
    width: auto;
    transition: background 150ms;
    &:link {
      background: #5CA6E5;
    }
    &:visited {
      background: #111;
    }
    &:hover {
      background: #444;
    }
    &:active {
      background: #555;
    }
  }
  #log-div {
    margin-left: auto;
  }
}
