
%basic-button {
  background: #4d94ff;
  color: white;
  border: none;
  padding: .3rem .7rem;
  margin: .5rem auto;
  display: block;
  transition: background 150ms;
  &:hover {
    background: #1D88E3;
  }
  &:active {
    background: #6EB0E8;
  }
}

%basic-link {
  width: 100%;
  text-align: center;
  display: block;
  transition: color 150ms;
  &:link {
    color: #5CA6E5;
  }
  &:visited {
    color: #5CA6E5;
  }
  &:hover {
    color: #FFBA21;
  }
  &:active {
    color: #FFEF33;
  }
}


html, body{
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
}

main {
  padding-top: 50px;
}

#slider {
  height: 200px;
  width: 50px;
  position: relative;
  border: 2px solid black;
}

#indicator {
  right: 0;
  height: 5px;
  width: 50px;
  background: black;
  position: absolute;
}


#nav {
  background: #111;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  margin: 0;
  .nav-link {
    text-decoration: none;
    width: 100px;
    padding: 12px;
    background: #111;
    textDecoration: none;
    color: white;
    text-align: center;
    width: auto;
    transition: background 150ms;
    &:link {
      background: #5CA6E5;
    }
    &:visited {
      background: #111;
    }
    &:hover {
      background: #444;
    }
    &:active {
      background: #555;
    }
  }
  #site-name {
    margin-right: auto;
  }
}
  #clock {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 30rem;
    display: block;
    margin: 0 auto;
    z-index: -100000;
  }
#home {
  img {
    width: 100%;
    max-width: 370px;
    display: block;
    margin: 1rem auto;
  }

  p {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 300;
  }

  hr {
    width: 80%;
    max-width: 20rem;
    margin: -1rem auto 0;

  }

  form {
    margin: 1.1rem auto;
    display: block;
    width: 13rem;
    padding: .5rem 1rem;
    box-shadow: 3px 1px 10px rgba(0,0,0,.2);
    background: rgb(250,250,250);
    label {
      margin: .2rem 0;
      display: inline-block;
    }
    input {
      float: right;
      @extend label
    }
    button {  
      @extend %basic-button;
      font-size: 1rem;
    }
    a {
      @extend %basic-link;
    }
  }
}

%header {
  font-size: 4rem;
  text-align: center;
}
%basic-card {
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  z-index: 10;
  display: block;
  margin: 1.5rem auto;
  padding: 1rem;
  width: 20rem;
  font-size: 2rem;
  background: white;
  text-align: center;
}
#topics {
  h2 {
    @extend %header;
  }
  a {
    @extend %basic-card;
    color: #5CA6E5;
    transform: scale(1);
    text-decoration: none;
    transition: all 500ms;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    &:hover {
      box-shadow: 0px 0px 15px rgba(0,0,0,.4);
      color: #FFBA21;
      transform: scale(1.01);
    }
  }
}

#topic > div{
  h2 {
    @extend %header ;
    margin-bottom: 0;
  }
  p {
    text-align: center;
  }
  ul {
    @extend %basic-card;
    color: #5CA6E5;
    li {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      .dots {
        overflow: hidden;
      }
    }
  }
  button {
    @extend %basic-button;
    font-size: 1.5rem;
  }
}
